<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title> 
</head>
<body>

<!-- Định nghĩa fragment footer -->
<div th:fragment="footer">
    <footer class="text-center mt-5 py-3 bg-light">
        <div class="container">
            <p>Thông tin sinh viên thực hiện</p>
            <p>Tên sinh viên: Trương Nguyễn Anh Thư</p>
            <p>Mã số sinh viên: 22162047</p>
            <p>Email: 22162047@student.hcmute.edu.vn</p>
        </div>
    </footer>
</div>

</body>
</html>
