<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title> 
</head>
<body>
<!-- Định nghĩa fragment -->
<div th:fragment="header">
    <header>
    	<div style="display:flex; align-items: center;">
    		<img src="/images/avatar.jpg" alt="Logo" style = "height: 100px;">
    	</div>
        <nav>
            <ul>
                <li><a th:href="@{'/admin/categories'}">List</a></li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
            </ul>
        </nav>
    </header>
</div>

</body>
</html>
